<div class="container mt-5">
  <h3>Registros<button class="btn btn-danger btn-sm ms-2" (click)="limpar()">Clear</button><button
      class="btn btn-secondary btn-sm ms-2" (click)="redirecionar('/home')">Return</button></h3>
  <table class="table text-left">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Hora</th>
        <th scope="col">Data</th>
        <th scope="col">Alterações</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ log.hora }}</td>
        <td>{{ log.data }}</td>
        <td>
          <div *ngFor="let modificado of log.modificado;">
            {{ modificado }}
          </div>
        </td>
        <td>{{ log.tipo }}</td>
      </tr>
    </tbody>
  </table>
</div>
